footer {
  @include font;
  max-width: 800px;
  width: 100%;
  margin: auto;
  .dill-bill-logo-footer {
    margin-top: 50px;
  }
  .footer-div {
    margin-top: 60px;
    @include flexBox;
    gap: 80px;
    .icons {
      @include flexBox;
      gap: 7px;
    }
  }
  ul {
    line-height: 35px;
    list-style: none;
    p {
      font-size: 16px;
      font-weight: 700;
    }
  }
}
@media (max-width: 320px) {
  .footer-div {
    flex-wrap: wrap;
    margin-left: 24px;
  }
}
