body {
  background-color: #f4f8fb;
}
header {
  background-color: black;
  height: 50px;
  .maindiv {
    @include flexBox;
    color: white;
    gap: 18px;
    font-size: 16px;
    font-weight: 500;
  }
}
main {
  nav {
    margin-top: 30px;
  }
  .new {
    background-color: #883988;
    color: white;
    @include font;
  }
  .buttons {
    button {
      @include font;
      background-color: white;
      border: 1px solid black;
      color: rgb(128, 128, 128);
    }
    .sign-up {
      color: #269cf0;
      border: 1px solid #269cf0;
    }
  }
  .online-english-main-div {
    h3 {
      font-size: 25px;
      span {
        color: #269cf0;
      }
    }
    button {
      color: white;
      background-color: #269cf0;
    }
  }
  .second-page-section {
    margin-top: 170px;
  }
  .right-part-second-page-main-div {
    font-size: 26px;
    font-weight: 400;
  }
  .right-part-second-page {
    text-align: center;
    padding-top: 40px;
    h5 {
      color: #828585;
    }
  }
  .line {
    width: 250px;
    height: 1px;
    background-color: gray;
    margin-left: 19%;
    margin-top: 20px;
  }
}
.pricing-page-main {
  .login-section {
    .how-many-lessons {
      display: flex;
      flex-direction: column;
      gap: 15px;
      h4 {
        color: black;
        @include font;
        font-weight: 500;
        font-size: 23px;
      }
    }
    .three-group {
      font-weight: 400;
      font-size: 16px;
      @include font;
    }
  }
  .cards-prices {
    @include flexBox;
    gap: 20px;
    margin-top: 50px;
    .card-1 {
      text-align: center;
      height: 330px;
      width: 230px;
      background-color: white;
      border-radius: 8px;
      .azn {
        color: #269cf0;
        font-size: 25px;
        font-weight: 600;
        @include font;
      }
      h4 {
        @include font;
        font-size: 15px;
        font-weight: 500;
      }
      .lesson-8 {
        margin-top: 10px;
        @include flexBox;
        flex-direction: column;
        gap: 8px;
      }
    }
    .card-2 {
      border: 2px solid yellow;
      text-align: center;
      height: 330px;
      width: 230px;
      background-color: white;
      border-radius: 8px;
      .azn {
        color: #269cf0;
        font-size: 25px;
        font-weight: 600;
        @include font;
      }
      h4 {
        @include font;
        font-size: 15px;
        font-weight: 500;
      }
      .lesson-8 {
        margin-top: 10px;
        @include flexBox;
        flex-direction: column;
        gap: 8px;
      }
    }
    .card-3 {
      text-align: center;
      height: 330px;
      width: 230px;
      background-color: white;
      border-radius: 8px;
      .azn {
        color: #269cf0;
        font-size: 25px;
        font-weight: 600;
        @include font;
      }
      h4 {
        @include font;
        font-size: 15px;
        font-weight: 500;
      }
      .lesson-8 {
        margin-top: 10px;
        @include flexBox;
        flex-direction: column;
        gap: 8px;
      }
    }
  }
}
footer {
  max-width: 800px;
  width: 100%;
  margin: auto;
}
.pricing {
  a {
    text-decoration: none;
    color: black;
  }
}
